
@media screen and (max-width:480px) {

    /*　画面サイズが480pxからはここを読み込む　*/
    //見出しのハンバーガーメニューを整える
    header {
        width: 100%;
        background: #918F89;

        p {
            color: #FFF;
            height: 55px;
        }

        nav {
            display: none;
            transition: 0.3s;

            &.active {
                display: block;
                opacity: 1;
                visibility: visible;
                position: absolute;
                z-index: 1000;
                top: 51px;
                left: 0;
                background: #918F89;
                color: #FFF;
                transform: translateY(10%);
                transition: all 0.1s;
                width: 100%;
                background-size: cover;
                height: 22vh;
                opacity: 0.9;
            }
        }

        .menubotn {
            display: block;
            height: 55px;
            width: 80px;
            background: #918F89;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            color: #FFF;

            div {
                height: 1px;
                width: 60%;
                background: #FFF;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.3s;
                z-index: 2;
                color: #FFF;
            }

            &.active div:nth-of-type(2) {
                opacity: 0;
            }

            &.active div:nth-of-type(1) {
                transform: rotate(45deg)translate(-50%, 0px);
                transform-origin: 0% 50%;
            }

            &.active div:nth-of-type(3) {
                transform: rotate(-45deg)translate(-50%, 0px);
                transform-origin: 0% 50%;
            }

            div:nth-of-type(1) {
                transform: translate(-50%, -15px);
            }

            div:nth-of-type(3) {
                transform: translate(-50%, 15px);
            }
        }

        .flx {
            display: block;

            .menue {
                display: block;
                position: static;
                width: 100%;
                text-align: center;

                li {
                    width: 100%;
                    padding-left: 0px;
                    padding-bottom: 20px;
                    border-bottom: 0.5px solid #FFFFFF;
                }

                .list1 a,
                .list2 a,
                .list3 a {
                    text-decoration: none;
                    opacity: 1;
                    visibility: visible;
                    color: #efe8e8;
                    width: 100%;
                    border-bottom: none;
                }
            }

            .logo {
                padding-left: 0px;
            }
        }
    }

    // We propose a life.のところ
    .mnzi {
        background-image: url("../img/AdobeStock_199226712のコピー2.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: right 10% bottom 10%;
        height: 700px;
        margin-bottom: 20px;

        .life_res {
            .lifespan {

                width: 110px;
                position: relative;
                height: 57px;
                padding-left: 26px;
                top: 203px;
                padding-top: 10px;
                font-size: 39px;
            }

            .propose {
                top: 201px;
                padding-left: 26px;
                width: 228px;
                position: relative;
                height: 57px;
                font-size: 39px;
                margin-top: 20px;
                padding-top: 10px;
            }

            .alife {
                width: 173px;
                position: relative;
                height: 61px;
                font-size: 39px;
                margin-top: 20px;
                top: 203px;
                padding-top: 10px;
                padding-left: 26px;

            }
        }

        .life {
            display: none;
        }

        p {}
    }

    //暮らしの提案
    .hospitality_res {
        display: block;
        justify-content: center;
        margin-top: 50px;
        text-align: center;

        img {
            width: 286px;
            height: 266px;
            margin-top: 25px;
        }

        .proposal_res {
            text-align: center;

            h2 {
                font: Light 25px/53px Noto Serif CJK JP;
                letter-spacing: 2.5px;
                color: #3B3B3B;
                opacity: 1;
                font-size: 25px;
                margin-bottom: 30px;
            }

            p {
                font: Regular 12px/30px Noto Sans;
                letter-spacing: 0.36px;
                color: #3B3B3B;
                opacity: 1;
                margin-top: 10px;
                font-size: 14px;
            }
        }
    }

    //豊富なスタイル
    .style {
        margin-top: 150px;

        .slider {
            width: 359px;
            height: 290px;
        }

        .slide {
            text-align: center;

            div {
                height: 290px;
            }

            img {
                width: 359px;
            }
        }

        .many {
            text-align: center;
            font: Light 25px/53px Noto Serif CJK JP;
            letter-spacing: 2.5px;
            color: #3B3B3B;
            opacity: 1;
            font-size: 25px;
            margin-bottom: 30px;
        }

        .slide {
            text-align: center;
        }
    }

    //ニュース
    .news {
        text-align: left;
        font: Thin 25px/53px Noto Sans;
        letter-spacing: 2.5px;
        color: #3B3B3B;
        opacity: 1;
        font-size: 25px;
        text-align: center;
        margin-top: 150px;

        .heading {
            margin-bottom: 50px;
        }

        .flxi {
            display: block;
            justify-content: center;

            img {
                margin-top: 30px;
                width: 286px;
                height: 276px;
            }
        }

        // 家具のアニメーション
        figure {
            position: relative;
            overflow: hidden;
            width: 387px;
        }

        figcaption {
            margin-left: 50px;
            font-size: 16px;
            color: #FFFFFF;
            position: absolute;
            bottom: -600px;
            left: 0;
            z-index: 2;
            width: 286px;
            height: 276px;
            background: rgba(0, 0, 0, .6);
            -webkit-transition: .3s;
            transition: .3s;

            p {
                padding-top: 150px;
            }
        }

        figure figcaption {
            bottom: 0px;
        }

        .more {
            margin-top: 35px;

            a {
                text-align: left;
                font: Thin 21px/53px Noto Sans;
                letter-spacing: 1.05px;
                color: #3B3B3B;
                opacity: 1;
                text-decoration: none;
            }
        }
    }

    // コンタクトフォーム 
    .contact {
        text-align: left;
        font: Thin 25px/53px Noto Sans;
        letter-spacing: 2.5px;
        color: #3B3B3B;
        opacity: 1;
        font-size: 25px;
        text-align: center;
        margin-top: 200px;

        .caption {
            margin-bottom: 40px;
        }

        input {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 0.5px solid solid #707070;
            border-radius: 11px;
            opacity: 0.6;
            width: 70%;
            height: 35px;
            margin-top: 25px;
        }

        .sub {
            input {
                width: 111px;
                height: 35px;
                border: 0.5px solid #707070;
                opacity: 1;
                border-radius: 20px;
                font: Light 15px/53px Noto Serif CJK JP;
                letter-spacing: 0.75px;
                color: #FFFFFF;
                opacity: 1;
                margin-bottom: 150px;
            }
        }

        textarea {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 0.5px solid #707070;
            border-radius: 11px;
            opacity: 0.6;
            width: 70%;
            height: 156px;
            margin-top: 25px;
        }
    }

    //display:none;
    .hospitality {
        display: none;
    }
}

// フッター
footer {
    background: #918F89 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
    height: 284px;
    margin-top: 0px;

    .wrap {
        display: block;
    }

    .logo2 {
        text-align: center;
        font: SemiBold 22px/21px Gill Sans;
        letter-spacing: 0;
        color: #FFFFFF;
        opacity: 1;
        padding-left: 0px;
    }

    .fotmenue {
        nav {
            display: none;
        }

        p {
            text-align: center;
            font: Regular 10px/16px Noto Sans;
            letter-spacing: 0.4px;
            color: #FFFFFF;
            opacity: 1;
            padding-right: 0px;
        }

        a {
            text-align: left;
            font: Thin 18px/24px Noto Sans;
            letter-spacing: 0;
            color: #FFFFFF;
            opacity: 1;
            text-decoration: none;
        }
    }
    .wraped {
        overflow: hidden;
    }
    body {
        min-width: 375px
        ;
    }
}

@media screen and (min-width:1024px) {
    .hospitality_res {
        display: none;
    }

    .life_res {
        display: none;
    }
}